.TitleArea .title {
    font-family: NT Fabulous;
}

.PhaseTitle {
    font-family: NT Fabulous; 
}

.myName {
    font-family: NT Fabulous;
    font-size: 40px;
    margin-top: 25px;
}
.email {
    margin-left: calc(100vw - 270px);
}

.display-4 {
    font-family: NT Fabulous;
}

body {
    background-color: rgb(248, 238, 231) !important;
}

.jumbotron {
    background-color: rgb(174, 186, 186) !important;
}

.jumbotron img {
    height: 300px !important;
}

.solution img {
    width: calc(100vw - 50px);
    margin-left: 25px;
    margin-right: 25px;
}